.A{
    text-align: center;
    background-color: aqua;
}

.main{
    background-color: aqua;
    margin: auto;
    align-items: center;
    max-width:max-content;
     
}
.btn{
    padding: 25px 25px;
    width: 60px;    
    margin: 0 3px;
    border-radius: 9px;
}
.adjust{ 
    display:flex ;
    justify-content: center;
} 
.adjust-a{
    flex-direction: column;
}
.row{
    margin: 5px 0;
}
.row input{
    font-size: 20px;
    margin: 0;
    padding: 11px 40px;
    border-radius: 9px;
}
